/target
/data/raw/*
/data/normalized/*
!/data/raw/.gitkeep
!/data/normalized/.gitkeep
*.parquet
.DS_Store
.idea/
.vscode/


# Added by cargo
#
# already existing elements were commented out

#/target
